<div class="p-fluid">

    <form id="form-box" method="get">
        <div class="p-field">
            <label for="addrs_1">Address Line 1</label>
            <input type="search" class="form-input" id="addrs_1" placeholder="Search address here..." pInputText />
        </div>

        <div class="p-field">
            <label for="addrs_2">Address Line 2</label>
            <input type="text" class="form-input" id="addrs_2" pInputText />
        </div>

        <div class="p-field">
            <label for="suburb">Suburb</label>
            <input type="text" class="form-input" id="suburb" pInputText />
        </div>

        <div class="p-field">
            <label for="state">State</label>
            <input class="form-input" id="state" pInputText />
        </div>

        <div class="p-field">
            <label for="postcode">Postcode</label>
            <input class="form-input" id="postcode" pInputText />
        </div>

    </form>
</div>