<header>
  <h1>Super Annuation Predictor</h1>
</header>


<div class="container">
  <p-card>
    <p-header>
      <h2 class="card-header">Please fill out the form to get prediction!!</h2>
    </p-header>
      <div class="p-fluid">
        <div class="p-field">
          <label for="firstname">Firstname</label>
          <input id="firstname1" type="text" pInputText>
        </div>
        <div class="p-field">
          <label for="lastname">Lastname</label>
          <input id="lastname" type="text" pInputText>
        </div>
      </div>
      <app-address></app-address>
    <p-footer>
      <h4>GOV HACK 2020</h4>
    </p-footer>
  </p-card>
</div>

<router-outlet></router-outlet>